<ion-view view-title="{{business.name}}">
  <ion-content class="padding">
      <div id="invite-container" ng-switch="!!newInvitation">
        <form class="list" ng-switch-when="true">
          <div class="item item-input-inset">
            <label class="item-input-wrapper">
              <input ng-model="newInvitation.recipient_phone" type="text" placeholder="Phone number">
            </label>
            <button class="button button-small" ng-click="submitInvitation()">
              Invite
            </button>
          </div>
        </form>
        <div class="button button-block button-calm" ng-switch-default ng-click="showNewInvitationForm()">
          Invite a business
        </div>
      </div>

      <div id="in-network">
        <span ng-repeat="business in business.businesses_in_network"
              ng-click="removeFromNetwork(business)">
          {{business.name}},
        </span>
      </div>
      <h3>Or choose from the list:</h3>

      <ul class="list">
        <!-- TODO: create a business card directive-->
        <li ng-repeat="business in businesses"
            ng-click="addToNetwork(business)"
            class="item card">
          <span >{{business.name}}</span>
        </li>
      </ul>
  </ion-content>
</ion-view>

